extends layout

block content
  h1= title
  .best
    h3 Best timekeepers
    .employee
      img.avatar(height='72', src='')
      span.name
    .employee
      img.avatar(height='72', src='')
      span.name
    .employee
      img.avatar(height='72', src='')
      span.name
  .worst
    h3 Worst timekeepers
    .employee
      img.avatar(height='72', src='')
      span.name
    .employee
      img.avatar(height='72', src='')
      span.name
    .employee
      img.avatar(height='72', src='')
      span.name
