extends layout

block content
  h1= title
  .best
    h3 Best timekeepers
    .employee
      img.avatar(src='https://en.gravatar.com/userimage/19040259/8d797eef42df231ae148da55290a6425.jpeg')
      span.name Tom Gallacher
    .employee
      img.avatar(src='https://en.gravatar.com/userimage/19040259/8d797eef42df231ae148da55290a6425.jpeg')
      span.name Tom Gallacher
    .employee
      img.avatar(src='https://en.gravatar.com/userimage/19040259/8d797eef42df231ae148da55290a6425.jpeg')
      span.name Tom Gallacher
  .worst
    h3 Worst timekeepers
    .employee
      img.avatar(src='https://en.gravatar.com/userimage/19040259/8d797eef42df231ae148da55290a6425.jpeg')
      span.name Tom Gallacher
    .employee
      img.avatar(src='https://en.gravatar.com/userimage/19040259/8d797eef42df231ae148da55290a6425.jpeg')
      span.name Tom Gallacher
    .employee
      img.avatar(src='https://en.gravatar.com/userimage/19040259/8d797eef42df231ae148da55290a6425.jpeg')
      span.name Tom Gallacher
