extends layout

mixin employee-list(name)
  .employee-list(class='js-employee-list--'+name.toLowerCase())
    .employee-list__header
      h1.employee-list__title=name
    .employee-list__content
      +employees


mixin employees
  ul.grid
    +employee
    +employee
    +employee
    +employee

mixin employee
  li.employee.js-employee.grid__item.one-quarter
    .employee__graph
      .employee__graph__label.js-hours
      .employee__graph__output.js-graph
    .employee__avatar
      .employee__initials.js-employee-initials
      img.employee__image.js-avatar(height='100%', width='100%', src='')


block content
  .widget
    .timesheet-graph
      .timesheet-graph__header
        h1.widget__title Time League
        span.timesheet-graph__meta.timesheet-graph__meta--date.js-time-table-formatted-date

      .timesheet-graph__content
        .grid
          .grid__item.one-half
            +employee-list('Best')
          .grid__item.one-half
            +employee-list('Worst')
