doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src='//d3js.org/d3.v2.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  script(src='/js/summary.js')
  script(src='/js/update-dom.js')
  script
    var update = new UpdateDom()
    var summary = new LiveTimeTable("http://intranet.furnace4.clock.co.uk/api/time-table.php?Action=Summary&Exclude=[6029, 6519, 7140, 7051, 7168, 7138, 5177, 6781, 6896, 5915, 7082, 6932]")
