doctype
html
  head
    title= title
    link(rel='stylesheet', href=versionPath('/stylesheets/index.css'))
    script.
      WebFontConfig = { fontdeck: { id: '39767' } };

      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
  body
    block content
  script(src='//d3js.org/d3.v2.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
  script(src=versionPath('/js/summary.js'))
  script(src=versionPath('/js/update-dom.js'))
  script.
    var update = new UpdateDom()
    var summary = new LiveTimeTable("https://intranet.clock.co.uk/api/time-table.php?Action=Summary&Exclude=[6029, 6519, 7140, 7051, 7168, 7138, 5177, 6781, 6896, 5915, 7082, 6932]")
