body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #0D0D0D;
  color: #FCFCFC;
}

a {
  color: #00B7FF;
}

.employee {
  float: left;
  padding-left: 50px;
}

.employee img {
  border: 1px solid #ffffff;
}

.best {
  float: left;
}

.worst {
  float: right;
}

.chart {
  background: url(../images/bg.png) repeat-y;
}
